/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: #f6f2ff;
  color: #333;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container {
  min-height: 100vh;
}

.navbar {
  background: linear-gradient(90deg, #7b2ff7, #f107a3);
  padding: 18px 25px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
